Eis/ASSETS.XSD

<?xml version="1.0" encoding="windows-1251"?>
<!-- XML схема. Аналіз потоків коштів у складі "Обгрунтуючих
     матеріалів для отримання дозволу на викиди"
     Версія 3.1.1.3. Редакція 2

     Copyright(С) 2003-2010 ТОВ "Софт фонд", м. Київ. Всi права захищенi.
     http://www.sfund.kiev.ua

     Original copyright:

     Copyright 2001 W3C (Massachusetts Institute of Technology,
     Institut National de Recherche en Informatique et en Automatique,
     Keio University). All Rights Reserved.
     http://www.w3.org/Consortium/Legal/

     This document is governed by the W3C Software License [1] as
     described in the FAQ [2].

     [1] http://www.w3.org/Consortium/Legal/copyright-software-19980720
     [2] http://www.w3.org/Consortium/Legal/IPR-FAQ-20000620.html#DTD

     Changes :
	    12.01.2010 : type assetsFlowSchedule : assetsFlowStage element could be absent	
-->
<xsd:schema targetNamespace="assets" xmlns:assets="assets"  xmlns="assets"
			xmlns:TTPAir="TTPAir" xmlns:invcargo="invcargo" xmlns:TTPA_Quater="TTPA_Quater" xmlns:mime="mime"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        elementFormDefault="qualified" version="3.1.1.2" xml:lang="uk">
	<xsd:import namespace="TTPAir" schemaLocation="twoTpAir.xsd"/>
	<xsd:import namespace="invcargo" schemaLocation="invbase.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Аналіз потоків коштів</xsd:documentation>
	</xsd:annotation>

	<xsd:simpleType name="sigN">
		<xsd:annotation>
			<xsd:documentation>знак</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="-1"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="assetsFlowTermin">
	  <xsd:annotation>
			<xsd:documentation>Квартальний період </xsd:documentation>
	  </xsd:annotation>
	  <xsd:complexContent>
	   <xsd:extension base="TTPAir:quarterPeriod"/>
	  </xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="assetsFlow">
		<xsd:annotation>
			<xsd:documentation>Стаття витрат(доходів)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="assetsFlowSign" type="sigN">
				<xsd:annotation>
					<xsd:documentation>статя балансу (+1 - кредит, -1 - дебет)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="assetsFlowID" type="xsd:positiveInteger" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Iдентифiкатор витрат(доходiв)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="assetsFlowCategory" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Категорія витрат(доходів)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="assetsFlowClause" type="xsd:string" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Стаття витрат(доходів)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="assetsFlowStage">
		<xsd:annotation>
			<xsd:documentation>Етап витрат(доходів)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="assetsFlowTermin" type="assetsFlowTermin">
				<xsd:annotation>
					<xsd:documentation>Дата на яку приводиться значення доходів (витрат)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="assetsFlowValue" type="TTPAir:expense">
				<xsd:annotation>
					<xsd:documentation>Сума витрат(доходів)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="assetsFlowSchedule">
		<xsd:annotation>
			<xsd:documentation>Графік доходів(витрат)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="assetsFlowClause" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Стаття витрат(доходів)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="assetsFlowStage" type="assetsFlowStage" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Стаття витрат(доходів)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="assetsAnalysis">
		<xsd:annotation>
			<xsd:documentation>Аналіз потоків коштів</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="measureEstimation" type="invcargo:richInfo">
				<xsd:annotation>
					<xsd:documentation>оцінка та аналіз витрат, пов'язаних з заходами</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="assetsFlowSchedule" type="assets:assetsFlowSchedule" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Аналіз потоків коштів по етапах</xsd:documentation>
						</xsd:annotation>
			</xsd:element>
			<xsd:element name="validitY" type="invcargo:richInfo">
				<xsd:annotation>
					<xsd:documentation>фінансове обґрунтування заходів з впровадження найкращих існуючих технологій і аналіз наступних надходжень коштів з приведенням їх до існуючого часу, у тому числі зазначається термін окупності заходу та прибуток</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>