Eis/BESTTECH.XSD

<?xml version="1.0" encoding="windows-1251"?>
<!-- XML схема "Перелік виробництв та технологічного устаткування, які підлягають
     до впровадження найкращих доступних технологій та методів керування"
     Версія 3.1.1.2

     Copyright(С) 2003-2004 ТОВ "Софт фонд", м. Київ. Всi права захищенi.
     http://www.sfund.kiev.ua

     Original copyright:

     Copyright 2001 W3C (Massachusetts Institute of Technology,
     Institut National de Recherche en Informatique et en Automatique,
     Keio University). All Rights Reserved.
     http://www.w3.org/Consortium/Legal/

     This document is governed by the W3C Software License [1] as
     described in the FAQ [2].

     [1] http://www.w3.org/Consortium/Legal/copyright-software-19980720
     [2] http://www.w3.org/Consortium/Legal/IPR-FAQ-20000620.html#DTD
-->
<xsd:schema targetNamespace="besttech" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="besttech"
            xmlns:besttech="besttech" xmlns:equip="equip" elementFormDefault="qualified" version="3.1.1.2" xml:lang="uk">
        <xsd:import namespace="equip" schemaLocation="equipment.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Перелік виробництв та технологічного устаткування, які підлягають до впровадження найкращих доступних технологій та методів керуванн
        		</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="equipmenT">
		<xsd:annotation>
			<xsd:documentation>Технологічне устаткування</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="equipmenTCode" type="xsd:string" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Код устаткування</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="equipmenTName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Найменування устаткування</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="equipmenTSample" type="equip:equipmenT" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Приклади устаткування</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="industrY">
		<xsd:annotation>
			<xsd:documentation>Виробнича галузь</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="industrYCode" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Код галузі</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="industrYName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Найменування галузі</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="equipmenT" type="equipmenT" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>технологічне устаткування</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="industrYProcess">
		<xsd:annotation>
			<xsd:documentation>Виробничі процеси</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="industrY" type="industrY" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Виробничі галузі</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>