Eis/CARGO.XSD

<?xml version="1.0" encoding="Windows-1251"?>
<!-- XML схема Типових елементів єдиного iнформацiйного середовища.
     Версія 3.1.1.3.

     Copyright(С) 2003-2004 ТОВ "Софт фонд", м. Київ. Всi права захищенi.
     http://www.sfund.kiev.ua

     Original copyright:

     Copyright 2001 W3C (Massachusetts Institute of Technology,
     Institut National de Recherche en Informatique et en Automatique,
     Keio University). All Rights Reserved.
     http://www.w3.org/Consortium/Legal/

     This document is governed by the W3C Software License [1] as
     described in the FAQ [2].

     [1] http://www.w3.org/Consortium/Legal/copyright-software-19980720
     [2] http://www.w3.org/Consortium/Legal/IPR-FAQ-20000620.html#DTD
 -->
<xsd:schema targetNamespace="cargo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="cargo" xmlns:cargo="cargo" version="3.1.1.2">
	<xsd:annotation>
		<xsd:documentation>XML схема Типових елементів єдиного інформаційного середовища</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="edrpoU">
		<xsd:annotation>
			<xsd:documentation>ЄДРПОУ</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{8,10}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="coatUUCode">
		<xsd:annotation>
			<xsd:documentation>КОАТУУ</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9,10}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="kvedCode">
		<xsd:annotation>
			<xsd:documentation>КВЕД</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}|[0-9]{2}.[0-9]{1,2}|[0-9]{1,2}.[0-9]{1,2}.[0-9]{1,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="kvfCode">
		<xsd:annotation>
			<xsd:documentation>КФВ</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="kofpgCode">
		<xsd:annotation>
			<xsd:documentation>КОПФГ</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="branchCode">
		<xsd:annotation>
			<xsd:documentation>КОДУ</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{0}|[0-9]{4,5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MeasureType">
		<xsd:annotation>
			<xsd:documentation>Тип одиниці виміру</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EMail">
		<xsd:annotation>
			<xsd:documentation>Адреса електронної пошти</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PermissionNum">
		<xsd:annotation>
			<xsd:documentation>Номер дозвілу</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9,10}-[0-9]{1,4}[а-я]{0,1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CASNumber">
		<xsd:annotation>
			<xsd:documentation>Номер забруднюючої речовини за CAS</xsd:documentation>
		</xsd:annotation>
                <xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,2,3,4,5,6,7}-[0-9]{2}-[0-9]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>