Eis/INFORES.XSD

<?xml version="1.0" encoding="windows-1251"?>
<!-- XML схема "Джерела інформації"
     Версія 3.1.1.2.

     Copyright(С) 2003-2004 ТОВ "Софт фонд", м. Київ. Всi права захищенi.
     http://www.sfund.kiev.ua

     Original copyright:

     Copyright 2001 W3C (Massachusetts Institute of Technology,
     Institut National de Recherche en Informatique et en Automatique,
     Keio University). All Rights Reserved.
     http://www.w3.org/Consortium/Legal/

     This document is governed by the W3C Software License [1] as
     described in the FAQ [2].

     [1] http://www.w3.org/Consortium/Legal/copyright-software-19980720
     [2] http://www.w3.org/Consortium/Legal/IPR-FAQ-20000620.html#DTD
-->
<xsd:schema targetNamespace="infores" xmlns:infores="infores" xmlns="infores" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="3.1.1.2.">
    <xsd:annotation>
        <xsd:documentation>Джерело інформації</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType name="infoRef">
        <xsd:annotation>
            <xsd:documentation>Посилка на джерело інформації</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="infoRefID" type="xsd:positiveInteger">
                <xsd:annotation>
                    <xsd:documentation>Номер джерела інформації</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="infoBookmark" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Посилка на текст джерела інформації</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="infoRes">
        <xsd:annotation>
            <xsd:documentation>Джерело інформації</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="infoRefID" type="xsd:positiveInteger">
                <xsd:annotation>
                    <xsd:documentation>Номер джерела інформації</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="infoTitle" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Найменування джерела інформації</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>