Eis/invtype.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- Електронна типова форма XML схеми основних типів "Інвентарізації".
     Версiя 3.1.1.2.

     Copyright(С) 2003-2004 ТОВ "Софт фонд", м. Київ. Всi права захищенi.
     http://www.sfund.kiev.ua

     Original copyright:

     Copyright 2001 W3C (Massachusetts Institute of Technology, Institut National de Recherche en Informatique
     et en Automatique, Keio University). All Rights Reserved. http://www.w3.org/Consortium/Legal/

     This document is governed by the W3C Software License [1] as described in the FAQ [2].

     [1] http://www.w3.org/Consortium/Legal/copyright-software-19980720
     [2] http://www.w3.org/Consortium/Legal/IPR-FAQ-20000620.html#DTD
-->
<xsd:schema targetNamespace="invent" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:invcargo="invcargo" xmlns:root="root" xmlns:cargo="cargo" xmlns:equip="equip" xmlns:poll="poll" xmlns:geo="geo" xmlns="invent" xmlns:invent="invent" xmlns:method="method" xmlns:subst="subst" xmlns:infores="infores" xmlns:graphics="graphics" elementFormDefault="qualified" version="3.1.1.2">
        <xsd:import namespace="method" schemaLocation="method.xsd"/>
        <xsd:import namespace="subst" schemaLocation="substance.xsd"/>
        <xsd:import namespace="infores" schemaLocation="infores.xsd"/>
        <xsd:import namespace="graphics" schemaLocation="graphics.xsd"/>
        <xsd:import namespace="invcargo" schemaLocation="invbase.xsd"/>
        <xsd:import namespace="poll" schemaLocation="pollutant.xsd"/>
        <xsd:import namespace="equip" schemaLocation="equipment.xsd"/>
        <xsd:import namespace="root" schemaLocation="root.xsd"/>
        <xsd:import namespace="cargo" schemaLocation="cargo.xsd"/>
        <xsd:import namespace="geo" schemaLocation="geo.xsd"/>
	<xsd:complexType name="agreementInfo">
		<xsd:annotation>
			<xsd:documentation>Дані по договору</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="agreementDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Дата договору</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="agreementNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер договору</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pollSubsT">
		<xsd:annotation>
			<xsd:documentation>Характеристика забруднюючої речовини</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pollutanTCode" type="poll:pollutanTCode" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Код забруднюючої речовини за ПЗР</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="subsTCode" type="subst:pollutanTCode" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Код забруднюючої речовини за МОЗ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CASNumber" type="cargo:CASNumber" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>CAS number</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pollSubstName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Найменування забруднюючої речовини</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="pollEvolvinG">
		<xsd:annotation>
			<xsd:documentation>Параметри виділення забруднюючої речовини</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pollSubsT" type="invent:pollSubsT">
				<xsd:annotation>
					<xsd:documentation>Характеристика забруднюючої речовини за ПЗР</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="emissionConc" type="invcargo:emissionConc">
				<xsd:annotation>
					<xsd:documentation>Концентрація забруднюючої речовини мг/ м3</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="factorDefMethod" type="method:factorDefMethod" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Методика визначення показників</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pollEmissioN">
		<xsd:annotation>
			<xsd:documentation>Параметри викидів забруднюючої речовини</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pollSubsT" type="invent:pollSubsT">
				<xsd:annotation>
					<xsd:documentation>Характеристика забруднюючої речовини</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="emissionFact" type="invcargo:emissionValue" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Фактична величина викиду г/c</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="emissionCalc" type="invcargo:emissionConc" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Розрахункова величина викиду г/c</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="emissionDefConc" type="invcargo:emissionConc">
				<xsd:annotation>
					<xsd:documentation>Визначена концентрація забруднюючої речовини на викиді мг/ м3</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="emissionNormConc" type="invcargo:emissionConc" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Технологічний норматив концентрації забруднюючої речовини на викиді мг/м3</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="emissionPower" type="invcargo:emissionPower">
				<xsd:annotation>
					<xsd:documentation>Потужність викиду забруднюючоъ речовини кг/год</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="emissionVolume" type="invcargo:emissionVolume">
				<xsd:annotation>
					<xsd:documentation>Величина викиду т/рік</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="infoRef" type="infores:infoRef" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Джерело інформації визначення величини викидів</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="formatioNSrc">
		<xsd:annotation>
			<xsd:documentation>Джерело утворення забруднюючої речовини</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="theName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Найменування</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="theQuantity" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>Кількість</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="evolvingSrc">
		<xsd:annotation>
			<xsd:documentation>Характеристика джерела виділення забруднюючих речовин</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="evolvingSrcCode" type="invcargo:srcCode">
				<xsd:annotation>
					<xsd:documentation>Код джерела виділення</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="whPerYear" type="invcargo:whPerYear">
				<xsd:annotation>
					<xsd:documentation>Час роботи, год</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gasProps" type="gasProps">
				<xsd:annotation>
					<xsd:documentation>Характеристика ПГПС</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="formatioNSources" type="invent:formatioNSrc" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Характеристика джерел утворення забруднюючих речовин</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="evolvingSrcEmissions" type="invent:pollEvolvinG" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Характеристика викидів забруднюючих речовин</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="srcEvolvingEmissionProps">
		<xsd:annotation>
			<xsd:documentation>Характеристики джерел викидів продуктів виділення</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="srcCode" type="invcargo:srcCode">
				<xsd:annotation>
					<xsd:documentation>Код джерела забруднення</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="evolvingSrc" type="invent:evolvingSrc" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Джерела виділення </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="evolvingProps">
		<xsd:annotation>
			<xsd:documentation>Характеристика  джерела виділення забруднюючих речовин </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="equipmenT" type="equip:equipmenT">
				<xsd:annotation>
					<xsd:documentation>Технологічне устаткування</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="productionSector" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Виробнича ділянка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="srcEvolvingEmissionProps" type="invent:srcEvolvingEmissionProps" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Характеристики джерел викидів продуктів виділення</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="gasProps">
		<xsd:annotation>
			<xsd:documentation>Параметри пилогазоповітряної суміші</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="gasDepletion" type="invcargo:gasDepletion">
				<xsd:annotation>
					<xsd:documentation>Об’ємна фізична витрата газу м3/с</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gasTemperature" type="invcargo:gasTemperature">
				<xsd:annotation>
					<xsd:documentation>Температура град.С</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="srcGasProps">
		<xsd:annotation>
			<xsd:documentation>Характеристика пилогазоповітряної суміші</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="gasDepletion" type="invcargo:gasDepletion">
				<xsd:annotation>
					<xsd:documentation>Об’ємна фізична витрата газу м3/с</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gasVelocity" type="invcargo:gasVelocity">
				<xsd:annotation>
					<xsd:documentation>Швидкість м/сек</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gasTemperature" type="invcargo:gasTemperature">
				<xsd:annotation>
					<xsd:documentation>Температура град.С</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="srcEmissionDisplacement">
		<xsd:annotation>
			<xsd:documentation>Місцезнаходження джерела в заводській системі координат</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="srcX1" type="invcargo:srcMetric">
				<xsd:annotation>
					<xsd:documentation>Координата X точкового або початку лінійного, центру симетрії площинного</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="srcY1" type="invcargo:srcMetric">
				<xsd:annotation>
					<xsd:documentation>Координата Y точкового або початку лінійного, центру симетрії площинного</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="srcX2" type="invcargo:srcMetric" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Координата X другого кінця лінійного, довжина площинного</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="srcY2" type="invcargo:srcMetric" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Координата Y другого кінця лінійного, ширина площинного</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="srcFI" type="invcargo:srcMetric" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Кут, зтворений довжиною площинного джерела, відносно ОХ заводської системи (град)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="srcEmissionProps">
		<xsd:annotation>
			<xsd:documentation>Характеристики джерел викидів забруднюючих речовин</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="srcCode" type="invcargo:srcCode">
				<xsd:annotation>
					<xsd:documentation>Код джерела забруднення</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="srcName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Найменування джерела забруднення</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="srcHeight" type="invcargo:srcHeight">
				<xsd:annotation>
					<xsd:documentation>Висота джерела забруднення (м)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="srcDiameter" type="invcargo:srcDiameter">
				<xsd:annotation>
					<xsd:documentation>Діаметер джерела забруднення (м)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="srcEmissionDisplacement" type="srcEmissionDisplacement">
				<xsd:annotation>
					<xsd:documentation>Місцезнаходження джерела в заводській системі координат</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="srcGasProps" type="srcGasProps">
				<xsd:annotation>
					<xsd:documentation>Характеристика пилогазоповітряної суміші</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="srcEmissions" type="invent:pollEmissioN" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Характеристика викидів забруднюючих речовин</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pollCleanProps">
		<xsd:annotation>
			<xsd:documentation>Характеристика очистки викидів забруднюючих речовин</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pollSubsT" type="invent:pollSubsT">
				<xsd:annotation>
					<xsd:documentation>Характеристика забруднюючої речовини</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="emissionOutConc" type="invcargo:emissionConc">
				<xsd:annotation>
					<xsd:documentation>Концентрація  забруднюючої речовини, мг/м3, на виході з ГОУ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gasCleanEquipCoeff" type="invcargo:gasCleanEquipCoeff">
				<xsd:annotation>
					<xsd:documentation>Ефективність роботи ГОУ %</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="gasCleanEquipUnit">
		<xsd:annotation>
			<xsd:documentation>Характеристика установок очищення газу (УОГ) </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="gasCleanEquipStage" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>Ступінь очистки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gasCleanEquipCode" type="invcargo:gasCleanEquipCode">
				<xsd:annotation>
					<xsd:documentation>Код  ГОУ  по ступенях</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gasCleanEquipName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Найменування ГОУ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gasInProps" type="gasProps">
				<xsd:annotation>
					<xsd:documentation>Параметри ПГПС на вході в УОГ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gasOutProps" type="gasProps">
				<xsd:annotation>
					<xsd:documentation>Параметри ПГПС на виході із УОГ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pollCleanProps" type="pollCleanProps" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Характеристика очистки викидів забруднюючих речовин</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="gasCleanEquipProps">
		<xsd:annotation>
			<xsd:documentation>Характеристика роботи газоочисних установок (ГОУ) *</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="srcCode" type="invcargo:srcCode">
				<xsd:annotation>
					<xsd:documentation>Код джерела забруднення</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gasCleanEquipUnits" type="gasCleanEquipUnit" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Характеристика роботи газоочисої установки (ГОУ) </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="measureUnit">
		<xsd:annotation>
			<xsd:documentation>Характеристики об'єкту виміру</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="unitName" type="xsd:string" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Найменування</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="unitMeasureType" type="cargo:MeasureType" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Одиниця виміру</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="unitQuantity" type="invcargo:unitQuantity" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Кількість одиниць виміру</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="emissionFactor">
		<xsd:annotation>
			<xsd:documentation>Характеристики показників емісії</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="factorMeasureType" type="cargo:MeasureType">
				<xsd:annotation>
					<xsd:documentation>Одиниця виміру</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="factorValue" type="invcargo:factorValue">
				<xsd:annotation>
					<xsd:documentation>значення показника емісії</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="emissionFactorsPollutantsProps">
		<xsd:annotation>
			<xsd:documentation>Показники емісії забруднюючих речовин</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pollSubsT" type="invent:pollSubsT">
				<xsd:annotation>
					<xsd:documentation>Характеристика забруднюючої речовини</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="emissionVolume" type="invcargo:emissionVolume">
				<xsd:annotation>
					<xsd:documentation>величина викиду т/рік</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="emissionFactor" type="emissionFactor">
				<xsd:annotation>
					<xsd:documentation>показники емісії</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="emissionFactorsProps">
		<xsd:annotation>
			<xsd:documentation>Показники емісії забруднюючих речовин по виробництвам підприємства</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="equipmenT" type="equip:equipmenT">
				<xsd:annotation>
					<xsd:documentation>Технологічне устаткування</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="productionPorps" type="invent:measureUnit">
				<xsd:annotation>
					<xsd:documentation>Продукція</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="materialsPorps" type="invent:measureUnit">
				<xsd:annotation>
					<xsd:documentation>Сировина</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="emissionFactorsPollutantsProps" type="invent:emissionFactorsPollutantsProps" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Характеристики показників емісії забруднюючих речовин</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="RegimeType">
		<xsd:annotation>
			<xsd:documentation>Тип режиму</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="base">
				<xsd:annotation>
					<xsd:documentation>Базовий (максимальний) режим</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="averageWinter">
				<xsd:annotation>
					<xsd:documentation>Cередній розрахунковий режим, зима</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="averageSummer">
				<xsd:annotation>
					<xsd:documentation>Cередній розрахунковий режим, літо</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="accident">
				<xsd:annotation>
					<xsd:documentation>Аварійний режим</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="salvo">
				<xsd:annotation>
					<xsd:documentation>Залповий викид</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>