Eis/ROOT.XSD

<?xml version="1.0" encoding="Windows-1251"?>
<!-- XML схема Типових елементів єдиного iнформацiйного середовища. Версія 3.1.1.3. Редакція 2

     Copyright(С) 2003-2004 ТОВ "Софт фонд", м. Київ. Всi права захищенi.
     http://www.sfund.kiev.ua

     Original copyright:

     Copyright 2001 W3C (Massachusetts Institute of Technology,
     Institut National de Recherche en Informatique et en Automatique,
     Keio University). All Rights Reserved.
     http://www.w3.org/Consortium/Legal/

     This document is governed by the W3C Software License [1] as
     described in the FAQ [2].

     [1] http://www.w3.org/Consortium/Legal/copyright-software-19980720
     [2] http://www.w3.org/Consortium/Legal/IPR-FAQ-20000620.html#DTD

     Changes :
            04.03.2010 : type TypifiedPostAddress was added 
			 type RegistredHosts expanded by regional environmental agencies

 -->
<xsd:schema targetNamespace="root" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:root="root" xmlns="root" elementFormDefault="qualified" version="3.1.1.2">
	<xsd:annotation>
		<xsd:documentation>Базова XML схема елементів єдиного інформаційного середовища</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="Zip">
		<xsd:annotation>
			<xsd:documentation>Почтовий iндекс</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Country">
		<xsd:annotation>
			<xsd:documentation>Країна</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Україна"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Region">
		<xsd:annotation>
			<xsd:documentation>Область</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Автономна Республіка Крим"/>
			<xsd:enumeration value="Місто Севастополь"/>
			<xsd:enumeration value="Вінницька область"/>
			<xsd:enumeration value="Волинська область"/>
			<xsd:enumeration value="Дніпропетровська область"/>
			<xsd:enumeration value="Донецька область"/>
			<xsd:enumeration value="Житомирська область"/>
			<xsd:enumeration value="Закарпатська область"/>
			<xsd:enumeration value="Запорізька область"/>
			<xsd:enumeration value="Івано-Франківська область"/>
			<xsd:enumeration value="Київська область"/>
			<xsd:enumeration value="Місто Київ"/>
			<xsd:enumeration value="Кіровоградська область"/>
			<xsd:enumeration value="Луганська область"/>
			<xsd:enumeration value="Львівська область"/>
			<xsd:enumeration value="Миколаївська область"/>
			<xsd:enumeration value="Одеська область"/>
			<xsd:enumeration value="Полтавська область"/>
			<xsd:enumeration value="Рівненська область"/>
			<xsd:enumeration value="Сумська область"/>
			<xsd:enumeration value="Тернопільська область"/>
			<xsd:enumeration value="Харківська область"/>
			<xsd:enumeration value="Херсонська область"/>
			<xsd:enumeration value="Хмельницька область"/>
			<xsd:enumeration value="Чернівецька область"/>
			<xsd:enumeration value="Черкаська область"/>
			<xsd:enumeration value="Чернігівська область"/>			
			<xsd:enumeration value="Міністерство охорони навколишнього природного середовища України"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CargoType">
		<xsd:annotation>
			<xsd:documentation>Тип елементу</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="2ТП(повітря) - річна"/>
			<xsd:enumeration value="2ТП(повітря) - квартальна"/>
			<xsd:enumeration value="ПОД-2"/>
			<xsd:enumeration value="Інвентаризація"/>
			<xsd:enumeration value="1ТП(повітря)"/>
			<xsd:enumeration value="Обґрунтування обсягів викидів(об'єкт 1-ї групи)">
				<xsd:annotation>
					<xsd:documentation>Документи, що обґрунтують обсяги викидів для отримання дозволу на викиди для об'єктів першої групи</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Обґрунтування обсягів викидів(об'єкт 2-ї групи)">
				<xsd:annotation>
					<xsd:documentation>Документи, що обґрунтують обсяги викидів для отримання дозволу на викиди для об'єктів другої групи</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Обґрунтування обсягів викидів(об'єкт 3-ї групи)">
				<xsd:annotation>
					<xsd:documentation>Документи, що обґрунтують обсяги викидів для отримання дозволу на викиди для об'єктів третьої групи</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RegisteredHosts">
		<xsd:annotation>
			<xsd:documentation>Тип регістратори типових електронних форм</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Міністерство охорони навколишнього природного середовища України"/>						
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Вінницької області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Волинської області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Дніпропетровська області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Донецької області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Житомирської області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Закарпатської області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Запорізької області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Івано-Франківської області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Київської області"/>			
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Кіровоградської області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Луганської області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Львівської області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Миколаївської області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища міста Київ"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища міста Севастополь"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Одеської області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Полтавської області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Рівненської області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Сумської області"/>			
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Тернопільської області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Харківської області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Херсонської області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Хмельницької області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Чернівецької області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Черкаської області"/>
			<xsd:enumeration value="Державне управління охорони навколишнього природного середовища Чернігівської області"/>
			<xsd:enumeration value="Республіканський комітет Автономної Республіки Крим з охорони навколишнього природного середовища"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="CreationDate" type="xsd:date">
		<xsd:annotation>
			<xsd:documentation>Дата генерації звіту</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GeneratedBy" type="xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Найменування програми – генератора звіту</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RegistrationDate" type="xsd:date" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Дата реєстрації</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RegisteredHosts" type="root:RegisteredHosts" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Найменування реєстратора</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="SequenceNumber">
		<xsd:annotation>
			<xsd:documentation>Порядковий номер</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{0,10}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="SequenceNumber" type="root:SequenceNumber" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Порядковий номер</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Zip" type="Zip">
		<xsd:annotation>
			<xsd:documentation>Почтовий iндекс</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Country" type="root:Country" default="Україна">
		<xsd:annotation>
			<xsd:documentation>Країна</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Region" type="root:Region">
		<xsd:annotation>
			<xsd:documentation>Область</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Town" type="xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Мiсто</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Street" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Вулиця (а/c)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Number" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Номер будинку (абонентської скринькi)</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Office" type="xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Номер офiсу</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="UnInEnHeader" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Типовий абстрактний заголовок елементу единого інформаційного середовища</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CreationDate"/>
			<xsd:element ref="GeneratedBy"/>
			<xsd:element ref="RegistrationDate"/>
			<xsd:element ref="RegisteredHosts"/>
			<xsd:element ref="SequenceNumber"/>
			<xsd:element ref="Remark"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PostAddress">
		<xsd:annotation>
			<xsd:documentation>Почтова адреса</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Zip"/>
			<xsd:element ref="Country"/>
			<xsd:element ref="Region"/>
			<xsd:element ref="Town"/>
			<xsd:element ref="Street"/>
			<xsd:element ref="Number"/>
			<xsd:element ref="Office"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UnInEnBody" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Типовий абстрактний зміст елементу единого інформаційного середовища</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence/>
	</xsd:complexType>
	<xsd:element name="UnInEnHeader" type="root:UnInEnHeader" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Універсальний типовий заголовок</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="UnInEnCargo" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Типовий абстрактний елемент елементу единого інформаційного середовища</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="root:UnInEnHeader"/>
			<xsd:element name="UnInEnBody" type="root:UnInEnBody">
				<xsd:annotation>
					<xsd:documentation>Універсальний тип змісту</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Remark" type="xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Резервне службове поле</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="AddressAttrib">    
		<xsd:restriction base="xsd:positiveInteger">        
			<xsd:annotation>		
				<xsd:documentation>Атрiбути адресу</xsd:documentation>		  
				<xsd:documentation>1-Юридичний</xsd:documentation>		  
				<xsd:documentation>2-Фактичний</xsd:documentation>               
			</xsd:annotation>         
			<xsd:minInclusive value="1"/>         
			<xsd:maxInclusive value="3"/>    
		</xsd:restriction>
	</xsd:simpleType> 
	<xsd:complexType name="TypifiedPostAddress">
		<xsd:annotation>    
			<xsd:documentation>Типована (фактична, юридична) адреса</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>  
			<xsd:extension base="root:PostAddress">    
				<xsd:attribute name="type" type="AddressAttrib"/>  
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>