Eis/SDZONE.XSD

<?xml version="1.0" encoding="Windows-1251"?>
<!-- Базові типи обгрунтування СЗЗ у складі
	 "Обгрунтуючих матеріалів для отримання дозволу на викиди"
     Версія 3.1.

     Copyright(С) 2003-2004 ТОВ "Софт фонд", м. Київ. Всi права захищенi.
     http://www.sfund.kiev.ua

     Original copyright:

     Copyright 2001 W3C (Massachusetts Institute of Technology,
     Institut National de Recherche en Informatique et en Automatique,
     Keio University). All Rights Reserved.
     http://www.w3.org/Consortium/Legal/

     This document is governed by the W3C Software License [1] as
     described in the FAQ [2].

     [1] http://www.w3.org/Consortium/Legal/copyright-software-19980720
     [2] http://www.w3.org/Consortium/Legal/IPR-FAQ-20000620.html#DTD
-->
<xsd:schema targetNamespace="sdzone" xmlns="sdzone" xmlns:sdzone="sdzone"
			xmlns:invcargo="invcargo" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        elementFormDefault="qualified" version="3.1.1.2">
        <xsd:import namespace="invcargo" schemaLocation="invbase.xsd"/>

	<xsd:simpleType name="CDangClass">
		<xsd:annotation>
			<xsd:documentation>Клас небезпеки виробництва</xsd:documentation>
		</xsd:annotation>
                <xsd:restriction base="xsd:positiveInteger">
                        <xsd:enumeration value="1">
                           <xsd:annotation>
                                <xsd:appinfo>1000</xsd:appinfo>
                           </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="2">
                           <xsd:annotation>
                                <xsd:appinfo>500</xsd:appinfo>
                           </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="3">
                           <xsd:annotation>
                                <xsd:appinfo>300</xsd:appinfo>
                           </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="4">
                           <xsd:annotation>
                                <xsd:appinfo>100</xsd:appinfo>
                           </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="5">
                           <xsd:annotation>
                                <xsd:appinfo>50</xsd:appinfo>
                           </xsd:annotation>
                        </xsd:enumeration>
                </xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="defenceZoneSize">
		<xsd:annotation>
			<xsd:documentation>Нормативний розмір СЗЗ</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="classBasics" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Опис виробництва, чи обгрунтування збільшенн
									або зменшення розміру СЗЗ для конкретного об’єкта у порівнянні з нормативним, а
									також розміри СЗЗ для нових видів виробництва
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dangClass" type="CDangClass" nillable="true">
				<xsd:annotation>
					<xsd:documentation>клас небезпечності за ДСП-173-96
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="zoneSize" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>нормативний розмір (м)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="sanitaryDefenceZone">
		<xsd:annotation>
			<xsd:documentation>Обгрунтування СЗЗ</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="defenceZoneSize" type="defenceZoneSize" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>розмір СЗЗ, відповідно ДСП-173-96</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="defenceZoneBasic" type="invcargo:richInfo">
				<xsd:annotation>
					<xsd:documentation>обґрунтування розміру СЗЗ, аналіз витрат, пов’язаних з реалізацією заходів щодо її створення</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>