Eis/tnormbase.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- XML схема "Технологічні нормативи - базові типи" 
     Версія 3.1.1.3. Редакція 2a.

     Copyright(С) 2003-2004 ТОВ "Софт фонд", м. Київ. Всi права захищенi.   
     http://www.sfund.kiev.ua

     Original copyright:
     
     Copyright 2001 W3C (Massachusetts Institute of Technology,
     Institut National de Recherche en Informatique et en Automatique,
     Keio University). All Rights Reserved.
     http://www.w3.org/Consortium/Legal/

     This document is governed by the W3C Software License [1] as
     described in the FAQ [2].

     [1] http://www.w3.org/Consortium/Legal/copyright-software-19980720
     [2] http://www.w3.org/Consortium/Legal/IPR-FAQ-20000620.html#DTD

     Changes :
     01.2013- types techNormMarker, pollMarker expanded to support actual normatives
-->
<xsd:schema targetNamespace="technorm" xmlns:cargo="cargo" 
            xmlns:equip="equip" xmlns:technorm="technorm" xmlns="technorm" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.3.3" xml:lang="uk">
	<xsd:import namespace="equip" schemaLocation="equipment.xsd"/>
	<xsd:import namespace="cargo" schemaLocation="cargo.xsd"/>
		
	<xsd:annotation>
		<xsd:documentation>Технологічні нормативи - базові типи</xsd:documentation>
	</xsd:annotation>  
  <xsd:simpleType   name="scopE">
		<xsd:annotation>
			<xsd:documentation>Перелік технологічних нормативів</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
      <xsd:enumeration value="">
        <xsd:annotation>
          <xsd:documentation></xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
			<xsd:enumeration value="Energy">
				<xsd:annotation>
					<xsd:documentation>ТНДВ із стаціонарних установок спалювання з введеною тепловою потужністю більше 50 МВт</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
      <xsd:enumeration value="Cement">
        <xsd:annotation>
          <xsd:documentation>ТНДВ із устаткування (установки) для виробництва цементного клінкеру в обертових випалювальних печах, виробнича потужність яких перевищує 500 тонн на день</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Seed">
        <xsd:annotation>
          <xsd:documentation>ТНДВ із котелень, що працюють на лушпинні соняшнику</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
  <xsd:simpleType   name="pollMarker">
    <xsd:annotation>
      <xsd:documentation>Маркер речовини (групи речовин) для встановлення технологічного нормативу</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="">
        <xsd:annotation>
          <xsd:documentation></xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PM">
        <xsd:annotation>
          <xsd:documentation>Суспендовані тверді частинки, недиференційовані за складом</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="NOx">
        <xsd:annotation>
          <xsd:documentation>Оксиди азоту (у перерахунку на діоксид азоту)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="SO2">
        <xsd:annotation>
          <xsd:documentation>Діоксид сірки</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CO">
        <xsd:annotation>
          <xsd:documentation>Оксид вуглецю</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="HCl">
        <xsd:annotation>
          <xsd:documentation>Хлористий водень</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="HF">
        <xsd:annotation>
          <xsd:documentation>Фтористий водень</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Cd_Tl">
        <xsd:annotation>
          <xsd:documentation>Важкі метали: кадмій + талій</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Hg">
        <xsd:annotation>
          <xsd:documentation>Важкий метал: ртуть</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Sb_As_Pb_Cr_Co_Cu_Mn_Ni_V">
        <xsd:annotation>
          <xsd:documentation>Важкі метали: сурма + арсен + свинець + хром + кобальт + мідь + манган + нікель + ванадій</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Dioxin_Furan">
        <xsd:annotation>
          <xsd:documentation>Діоксини та фурани</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TOC">
        <xsd:annotation>
          <xsd:documentation>Загальний органічний вуглець</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
	<xsd:complexType  name="applicationScope">
		<xsd:annotation>
			<xsd:documentation>Для яких технологічних процесів (обладнання) застосується норматив</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="scopE" type="scopE">
				<xsd:annotation>
					<xsd:documentation>Норматив до застосування</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="equipmenT" type="equip:equipmenT" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Перелік технологічного обладнання у складі групи</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType   name="normativeStatus">
	      <xsd:annotation>
	         <xsd:documentation>Cтатус нормативу</xsd:documentation>
	      </xsd:annotation>
	      <xsd:restriction base="xsd:string">
	        <xsd:enumeration value="currentNorm">
	           <xsd:annotation>
	              <xsd:documentation>Поточний норматив</xsd:documentation>
	           </xsd:annotation>
	        </xsd:enumeration>
	        <xsd:enumeration value="perspectiveNorm">
	           <xsd:annotation>
	              <xsd:documentation>Перспективний норматив</xsd:documentation>
	           </xsd:annotation>
	        </xsd:enumeration>
	     </xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType   name="productioNStatus">
		<xsd:annotation>
			<xsd:documentation>Cтатус виробництва відповідно до дати введення в експлуатацію</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">      
      <xsd:enumeration value="newOne">
				<xsd:annotation>
					<xsd:documentation>Нова установка</xsd:documentation>
          <xsd:appinfo>0</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="existingOne">
				<xsd:annotation>
					<xsd:documentation>Існуюча установка</xsd:documentation>
          <xsd:appinfo>2</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="updatedOne">
				<xsd:annotation>
					<xsd:documentation>Модернізована установка</xsd:documentation>
          <xsd:appinfo>4</xsd:appinfo>
				</xsd:annotation>
			</xsd:enumeration>			
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType   name="fueLState">
		<xsd:annotation>
			<xsd:documentation>стан палива</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="solid">
				<xsd:annotation>
					<xsd:documentation>Тверде</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="oil">
				<xsd:annotation>
					<xsd:documentation>Рідке</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="gas">
				<xsd:annotation>
					<xsd:documentation>Газоподібне</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
      <xsd:enumeration value="any">
        <xsd:annotation>
          <xsd:documentation></xsd:documentation>
          <xsd:appinfo>любий</xsd:appinfo>
        </xsd:annotation>
      </xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType   name="fueltype">
		<xsd:annotation>
			<xsd:documentation>тип палива</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType  name="fueLType">
		<xsd:annotation>
			<xsd:documentation>тип палива</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fueLState" type="fueLState">
				<xsd:annotation>
					<xsd:documentation>агрегатний стан</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="typeName" type="fueltype">
				<xsd:annotation>
					<xsd:documentation>найменування типа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType   name="normativeMeasure">
		<xsd:annotation>
			<xsd:documentation>одиниця виміру</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="cargo:MeasureType">
			<xsd:enumeration value="мг/м.куб"/>
			<xsd:enumeration value="%"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType   name="normativeValueType">
		<xsd:annotation>
			<xsd:documentation>тип значення</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType  name="techNormative">
		<xsd:annotation>
			<xsd:documentation>технологічний норматив</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="normativeConc" type="xsd:decimal" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation>Значення нормативу (два значення відповідають діапазону)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Comment" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Коментар, щодо обчислення нормативу</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!--
	    <xsd:element name="normativeMeasure" type="normativeMeasure">
	      <xsd:annotation>
		      <xsd:documentation>Одиниця виміру нормативу</xsd:documentation>
		    </xsd:annotation>
	    </xsd:element>	    
	    -->
		</xsd:sequence>
	</xsd:complexType>	
	<xsd:complexType  name="terM">
		<xsd:sequence>
			<xsd:element name="enterDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>дата початку дії нормативу</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="terminateDate" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>дата завершення дії нормативу</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType  name="techNormativeContext" abstract="true">
		<xsd:annotation>
			<xsd:documentation>технологічний норматив в контексті</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="emissionConcCondition" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Умови встановлення нормативу</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="emissionConc" type="techNormative">
				<xsd:annotation>
					<xsd:documentation>технологічний норматив</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>  
	<xsd:complexType  name="techNormativeContextGroup">
		<xsd:annotation>
			<xsd:documentation>група технологічних нормативів</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="terM" type="terM">
				<xsd:annotation>
					<xsd:documentation>термін дії нормативу</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="normativeStatus" type="normativeStatus">
				<xsd:annotation>
					<xsd:documentation>статус нормативу</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="productioNStatus" type="productioNStatus">
				<xsd:annotation>
					<xsd:documentation>статус виробництва</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pollMarker" type="technorm:pollMarker" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>речовина</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="techNormativesContext" type="techNormativeContext" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>технологічні нормативи в контексті</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
  <xsd:complexType name="techNormatives">
    <xsd:annotation>
      <xsd:documentation>технологічні нормативи - запис довіднику</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="applicationScope" type="applicationScope">
        <xsd:annotation>
          <xsd:documentation>Для яких технологічних процесів (обладнання) застосується норматив</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="techNormative" type="techNormativeContextGroup" maxOccurs="unbounded"/>
      <xsd:element name="infoRes" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>нормативний документ</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
