Eis/TWOTPAIR.XSD

<?xml version="1.0" encoding="Windows-1251"?>
<!-- Електронна типова форма XML схеми базових елементiв "ЗВІТУ ПРО ОХОРОНУ АТМОСФЕРНОГО
      ПОВІТРЯ" по формі 2-ТП (повітря). Версія 3.1.1.2, Редакція 2

     Copyright(С) 2003-2004 ТОВ "Софт фонд", м. Київ. Всi права захищенi.
     http://www.sfund.kiev.ua

     Original copyright:

     Copyright 2001 W3C (Massachusetts Institute of Technology,
     Institut National de Recherche en Informatique et en Automatique,
     Keio University). All Rights Reserved.
     http://www.w3.org/Consortium/Legal/

     This document is governed by the W3C Software License [1] as
     described in the FAQ [2].

     [1] http://www.w3.org/Consortium/Legal/copyright-software-19980720
     [2] http://www.w3.org/Consortium/Legal/IPR-FAQ-20000620.html#DTD
-->
<xsd:schema targetNamespace="TTPAir" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:TTPAir="TTPAir" xmlns:root="root" xmlns:cargo="cargo" xmlns:equip="equip" xmlns:measure="measure" xmlns:poll="poll" xmlns:geo="geo" xmlns="TTPAir" elementFormDefault="qualified" version="3.1.1.2">
	<xsd:import namespace="root" schemaLocation="root.xsd"/>
	<xsd:import namespace="poll" schemaLocation="pollutant.xsd"/>
	<xsd:import namespace="cargo" schemaLocation="cargo.xsd"/>
	<xsd:simpleType name="measureState">
		<xsd:annotation>
			<xsd:documentation>Оцінка виконання заходу</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="emissionVolume">
		<xsd:annotation>
			<xsd:documentation>Викиди в атмосферне повітря, в тонах </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="3"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="expense">
		<xsd:annotation>
			<xsd:documentation>Загальнгий обсяг витрат за кошторисною варт_стью, грн.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0.00"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="expense1000">
		<xsd:annotation>
			<xsd:documentation>Загальнгий обсяг витрат за кошторисною вартістью, тис грн.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="1"/>
			<xsd:minInclusive value="0.00"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="measureProgress">
		<xsd:annotation>
			<xsd:documentation>Прогрес виконання</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ProgressExpected" type="emissionVolume" default="0">
				<xsd:annotation>
					<xsd:documentation>Очікуване зменшення викидів</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProgressAchieved" type="emissionVolume" default="0">
				<xsd:annotation>
					<xsd:documentation>Фактичне зменшення викидів</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="personInfo">
		<xsd:annotation>
			<xsd:documentation>Особа</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="positioN" type="xsd:string" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Посада</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="theName" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Прізвище Ім’я  по Батьков</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="orgInfo">
		<xsd:annotation>
			<xsd:documentation>Організація – звітувач</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="orgProvider" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Найменування органiзацiї - складача iнформацiї</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgPostAddress" type="root:PostAddress">
				<xsd:annotation>
					<xsd:documentation>Поштова адреса</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="orgCodes">
				<xsd:annotation>
					<xsd:documentation>Ідентифікаційні та класифікаційні атрибутивні Коди складача</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EDRPOU" type="cargo:edrpoU">
							<xsd:annotation>
								<xsd:documentation>ЄДРПОУ</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="KOATUU" type="cargo:coatUUCode">
							<xsd:annotation>
								<xsd:documentation>КОАТУУ</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="KVED" type="cargo:kvedCode">
							<xsd:annotation>
								<xsd:documentation>КВЕД</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="KFV" type="cargo:kvfCode">
							<xsd:annotation>
								<xsd:documentation>КФВ</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="KOFPG" type="cargo:kofpgCode">
							<xsd:annotation>
								<xsd:documentation>КОПФГ</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="CODU" type="cargo:branchCode" nillable="true">
							<xsd:annotation>
								<xsd:documentation>КОДУ</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="approvedPerson" type="personInfo">
				<xsd:annotation>
					<xsd:documentation>Керівник організації</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="responsiblePerson" type="personInfo">
				<xsd:annotation>
					<xsd:documentation>Відповідальна особа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contactPhone" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Контактний телефон</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EMail" type="cargo:EMail" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Адреса електронної пошти</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="stateReg">
		<xsd:annotation>
			<xsd:documentation>Державна реєстрація</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="regDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Дата взяття</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="regNum" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер реєстрації</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<!-- Дата взяття на державний облiк -->
	</xsd:complexType>
	<xsd:complexType name="permissionInfo">
		<xsd:annotation>
			<xsd:documentation>Інформація по дозволу на викид</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="permissionDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>Дата видачі дозволу</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="permissionNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер дозволу</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="permissionTerm" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Термін дії дозволу</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pollEmissionN">
		<xsd:annotation>
			<xsd:documentation>Викиди забруднюючої речовини</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pollutanT" type="poll:pollutanT">
				<xsd:annotation>
					<xsd:documentation>Забруднююча речовина</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="emissioN" type="emissionVolume" default="0">
				<xsd:annotation>
					<xsd:documentation>Викид</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Factor">
		<xsd:annotation>
			<xsd:documentation>Показник</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MeasureType" type="cargo:MeasureType" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation>Одиниця вимiру</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FactorValue" type="xsd:positiveInteger">
				<xsd:annotation>
					<xsd:documentation>Значення показника</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Quarter">
		<xsd:annotation>
			<xsd:documentation>Квартал</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="quarterPeriod">
		<xsd:annotation>
			<xsd:documentation>Квартальний період</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="reportedYear" type="xsd:gYear">
				<xsd:annotation>
					<xsd:documentation>Рік</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reportedQuater" type="Quarter">
				<xsd:annotation>
					<xsd:documentation>Квартал</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="RichFactorValue">
		<xsd:annotation>
			<xsd:documentation>Показник з точністю до 3 знаків</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="3"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="RichFactor">
		<xsd:annotation>
			<xsd:documentation>Показник</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MeasureType" type="cargo:MeasureType" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation>Одиниця вимiру</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FactorValue" type="TTPAir:RichFactorValue">
				<xsd:annotation>
					<xsd:documentation>Значення показника</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
